::-webkit-scrollbar {
    display: none;
}

body{
    /* font-family: "Abyssinica SIL"!important; */
    font-display: auto!important;
}

.application--wrap {
    /* font-family: "Abyssinica SIL"!important; */
    font-display: auto!important;
}


.v-card .v-card__text, .v-card .v-card__title, .v-toolbar__content, .v-toolbar__title{
    /* font-family: "Abyssinica SIL"!important; */
}

.v-card__text{
    /* font-size: 20px; */
    letter-spacing: 1px;
}

.emojToggle {
    position: absolute;
    right: 17%;
    top: 60%;
}

.emoji-mart {
    z-index: 999;
    position: absolute;
}

#cont {
    transition: 2s ease-in-out all;
    padding: 0;
}

#slider {
    transition: 2s ease-in-out all;
}


.scrollUp, .newsletter, .newPost, .save, .cancel {
    z-index: 99!important;
    position: fixed!important;
    right: 15px!important;
    top: 75%!important;
}

.save, .cancel{
    right: 0px!important;
}

.newsletter, .cancel {
    top: 50%!important;
}

.newPost, .save {
    top: 25%!important;
}

.dialog {
    z-index: auto;
}

.newPost {
    margin-top: -2%!important;
}

.tabCont {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.drawNavItems:hover {
    background: #4e008c;
    color: white!important;
}

.drawNavItem {
    font-size: 1.25rem;
}

.navItems {
    font-size: 16px;
}

.drawNavItems:hover .drawNavIcons{
    color: white;
}

.infos{
    padding: 10px;
}

.grey--texts{
    color: rgba(0, 0, 0, 0.3);
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

span.vue-typer
span.left[data-v-c41bac74], span.vue-typer
span.right[data-v-c41bac74]{
    float: none!important;
    display: block!important;
    text-align: center;
}

.time{
    font-size: 12px;
}

.trans{
    transition: 9s ease-in-out;
}

div[data-v-0074b8b7] .v-dialog{
    height: fit-content;
    margin-top: -2vh;
}
div[data-v-0074b8b7] .v-dialog .v-card{
    height: 100%;
}

.white--text input, .white--text textarea {
    caret-color: #000 !important;
  }

.v-btn{
    font-size: 12px!important;
  }

.unchanged{
    height: 80px;
}

input{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.v-tabs__bar{
    position: fixed!important;
    z-index: 1;
    width: 100%;
  }